@import "normalize";
@import "vars";
@import "fonts";
@import "mixins";

@import url("https://fonts.googleapis.com/css?family=Cantarell:400,400i,700&display=swap");

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

html {
  font-size: 10px;
  height: 100%;
}

.hide {
  display: none;
}

body {
  color: #505050;
  font-family: "Arial", sans-serif;
  min-height: 100vh;
  font-size: 1.4rem;
  line-height: 1.6;
  background-color: #e7eaf0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(000, 000, 000, 0.3);
  z-index: 10;
  display: none;
  &--active {
    display: block;
  }
}

.container {
  width: 1200px;
  max-width: 80%;
  margin: 0 auto;
}

.todos {
  margin-top: 50px;
  background-color: #fff;
  border-radius: 20px;
  width: 40%;
  min-width: 320px;
  min-height: 40vh;
  padding: 15px 20px;
  box-shadow: 0px 0px 32px -10px rgba(0, 0, 0, 0.53);
  display: flex;
  flex-direction: column;
  &__header {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.2px;
    color: #a8a8a8;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f4f4f4;
  }
  &__items {
  }
  &__item {
    padding: 15px 0;
    border-bottom: 1px solid #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: 0.4s;
    &--hide {
      height: 0;
      padding: 0;
      transform: translateY(-100%);
      opacity: 0;
    }
    &-time {
      font-size: 10px;
      position: absolute;
      left: 0;
      bottom: 0px;
      color: #a8a8a8;
    }
    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"] + label:before {
      content: "";
      color: transparent;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      display: inline-block;
      border: 2px solid #f4f4f4;
      border-radius: 5px;
      font-size: 20px;
      line-height: 22px;
      margin: -5px 5px 0 0;
      height: 20px;
      width: 20px;
      text-align: center;
      vertical-align: middle;
      transition: color ease 0.3s;
      cursor: pointer;
    }
    input[type="checkbox"]:checked + label:before {
      background-color: #aff06a;
    }
    input[type="checkbox"] + label:after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 0;
      height: 2px;
      background-color: red;
      transition: 0.2s;
    }
    input[type="checkbox"]:checked + label:after {
      width: 85%;
    }
    &-label {
    }
    &-checkbox {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.count {
  padding: 10px 0;
  &__text {
    color: #a8a8a8;
  }
  &__number {
    margin-right: 10px;
    color: #a8a8a8;
  }
}

.links {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 65%;
    background-color: #aff06a;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.link {
  &__todo {
  }
  &__done {
    position: relative;
    &-signal {
      width: 18px;
      height: 18px;
      border: 3px solid #aff06a;
      border-radius: 5px;
      fill: red;
      font-size: 10px;
      top: 5px;
      right: -20px;
      position: absolute;
      text-align: center;
      line-height: 1.2;
    }
  }
  &--active {
    color: #505050;
  }
}

.signal-animate {
  animation: signal 0.2s ease-in-out;
  animation-iteration-count: infinite;
}

.todos__footer {
  margin-top: auto;
  display: flex;
}

.button {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  background-color: #aff06a;
  text-align: center;
  vertical-align: middle;
  position: relative;
  border: 1px solid transparent;
  outline: none;
  box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  &:active {
    background-color: darken(#aff06a, 10%);
  }
  &__add {
    border-radius: 50%;
    margin-left: auto;
    &-icon {
      fill: white;
      width: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.2s;
    }
    &:hover .button__add-icon {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}

// ADD TASK FORM

.form {
  min-width: 50%;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 20px;
  padding: 15px 20px;
  box-shadow: 0px 0px 32px -10px rgba(0, 0, 0, 0.53);
  display: flex;
  flex-direction: column;
  label {
    padding-left: 5px;
    font-size: 12px;
  }
  &__task {
    font-size: 18px;
    border-color: transparent;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 30px;
    outline: none;
  }
  &__time {
    margin: 5px 0 10px;
    padding: 5px;
    border: transparent;
    border-bottom: 1px solid #f4f4f4;
    font-size: 16px;
    font-family: "Arial", sans-serif;
    color: #505050;
    margin-bottom: 30px;
    cursor: pointer;
    appearance: none;
  }
  &__button {
    padding: 5px 10px;
    height: unset;
    width: unset;
    font-weight: 700;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    &:hover,
    &:focus {
      transform: scale(1.03);
    }
  }
  &__close {
    position: absolute;
    right: 7px;
    top: -5px;
    width: 30px;
    height: 30px;
    .button__add-icon {
      width: 18px;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

.done__delete {
  width: 20px;
  height: 20px;
  top: 10%;

  .button__add-icon {
    width: 10px;
  }
}

@keyframes signal {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(35deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
